doctype html
include navBar.pug
html
  head
    link(rel='stylesheet' type='text/css' href='css/categoryType.css')
        
  body.background
    +navBarSend(username)
    div.resultsData 
        Serch All movies with the tag "#{category_query}" 
    .grid
        for movie, i in movieNameArray
            a(href= "show-movie?" + movie)
                div#movieData(style= "background: url(images/" + movieImageArray[i] + "); background-repeat: no-repeat; background-size: cover;")
                    div #{movie + " (" + releaseYearArray[i] + ")"}
  include footer.pug
