doctype html
include navBar.pug
html
  head
    link(rel='stylesheet' type='text/css' href='css/categoryType.css')
        
  body.background
    +navBarSend(username)
    div.resultsData 
        Serch All movies with the tag "#{category_query}" 
    .grid
        for movie, i in movieList
            a(href= "show-movie?" + movie.movieName)
                div#movieData(style= "background: url(images/" + movie.movieImageName + "); background-repeat: no-repeat; background-size: cover;")
                    div #{movie.movieName + " (" + movie.releaseYear + ")"}
  include footer.pug
