html
  head
    link(rel='stylesheet' type='text/css' href='css/LoginFailed.css')
    script.
      function submitMe(obj){
      if(obj.value == "Register"){
      document.getElementById('failedLoginForm').action = '/register'
      }else{
      document.getElementById('failedLoginForm').action = '/login'
      }
      document.getElementById('failedLoginForm').submit();
      }
  body
    .LoginFailDiv
      h2= title 
      h4= message
      form#failedLoginForm(action='' method='POST')
        input.button(onclick='submitMe(this)' type='button' value='Register')
        input.button(onclick='submitMe(this)' type='submit' value='Login')
