mixin navBarSend(user)
    head
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
        link(rel='stylesheet' type='text/css' href='css/navBar.css')

    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand(href='home') Mock Netflix Site CS372
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='home')
                            | Home
                            span.sr-only
                    li.nav-item.dropdown
                        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Category
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            a.dropdown-item(href='category?Action') Action
                            a.dropdown-item(href='category?Adventure') Adventure
                            a.dropdown-item(href='category?Animation') Animation
                            a.dropdown-item(href='category?Comedy') Comedy
                            a.dropdown-item(href='category?Drama') Drama
                            a.dropdown-item(href='category?Fantasy') Fantasy
                            a.dropdown-item(href='category?Historical') Historical
                            a.dropdown-item(href='category?Horror') Horror
                            a.dropdown-item(href='category?Mystery') Mystery
                            a.dropdown-item(href='category?Romance') Romance
                            a.dropdown-item(href='category?Sci-Fi') Sci-Fi
                            a.dropdown-item(href='category?Thriller') Thriller
                            a.dropdown-item(href='category?Western') Western
                form.form-inline.my-2.my-lg-0.search-bar(action='/search' method='GET' name='loginForm')
                    input.form-control.mr-sm-2(type='search' name='search' placeholder='Search for movies' aria-label='Search')
                    button.btn.btn-outline-primary.my-2.my-sm-0.customButtonText(type='submit') Search
                form.form-inline.my-2.my-lg-0(action='/logout' method='GET' name='logOutForm')
                    h3#username.my-2.my-sm-0 User: #{username}
                    button.btn.btn-outline-primary.my-2.my-sm-0.customButtonText() Log Out
