head
  link(rel='stylesheet' type='text/css' href='css/RegistrationSuccess.css')
.RegSuccDiv
  h2 Registration Successful
  form#loginForm(action='/' method='GET')
    input.button(type='submit' value='Login')
